<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        body {
            width: 90vw;
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <a href="/add-products">Thêm sản phẩm</a>
        <table border="1" style="width: 500px;">
            <caption>Danh sách sản phẩm</caption>
            <tr>
                <th>Mã SP</th>
                <th>Tên SP</th>
                <th>Số Lượng</th>
                <th>Hình ảnh</th>
                <th>Lựa chọn</th>
            </tr>

            <% for(let product of products)
                {%>
                <tr>
                    <td>
                        <%=product.id%>
                    </td>
                    <td>
                        <%=product.name%>
                    </td>
                    <td>
                        <%=product.number%>
                    </td>
                    <td>
                        <%=product.image%>
                    </td>
                    <td>
                        <a href="/delete/<%=product.id%>">Xóa</a>
                        <a href="/update">Cập nhật</a>
                    </td>
                </tr>
                <%}
            %>
        </table>
    </div>
</body>

</html>